* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding: 16px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 18px;
}

nav a {
    color: #888888;
    text-decoration: none;
}

nav button {
    border: none;
    background-color: #191919;
    color: white;
    border-radius: 6px;
    padding: 8px 18px;
}

/* Navbar End */

#hero {
    background: linear-gradient(to bottom right, #6F00FF, #6F00FF, #3B0270);
    padding: 256px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero-welcome {

}

.hero-img {
}

.hero-img figure {
    background-color: #191919;

}